body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #ad03fc;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
h2 {
    color: #333;
}

table {
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 10px; 
    margin: 20px 0; 
    background-color: #f9f9f9;
}

/* Table header styling */
th {
    background-color: #00ba85;
    color: white; 
    padding: 10px; 
}

/* Table cell styling */
td {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    background-color: white; 
}